/* src/components/LoadingScreen.css */
.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #f0f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: bold;
    transition: opacity 1s ease-out;
    opacity: 1;
  }
  
  .loading-screen.hide {
    opacity: 0;
    pointer-events: none; /* Prevent interaction when hidden */
  }
  
  .loading-screen h1 {
    color: #333;
  }
  